@using MyFinances.UI.Data
@using MyFinances.Common.Models.UI
@using MyFinances.Common.Models.Stock
@using MyFinances.Common.State
@using MyFinances.Stock.Adapter
@using MyFinances.UI.Data.HistoryIntervals
@inject StockHistoryContext StockHistoryContext
@inject IStockAdapter StockAdapter

<div>
    <MatDialog @bind-IsOpen="@IsOpen">
        <MatDialogTitle>@Symbol</MatDialogTitle>
        <MatDialogContent Style="width: 560px; height: 260px;">
            <div>
                <MatButton Outlined="true" OnClick='_ => ShowPrices("daily")'>Daily prices</MatButton>
                <MatButton Outlined="true" OnClick='_ => ShowPrices("hourly")'>Hourly prices</MatButton>
            </div>
            <h5>@stockHistory.Name</h5>
            <MatDivider></MatDivider>
            <div>
                @foreach (var price in prices)
                {
                    <p>@price.Time.ToShortTimeString(): <b>@price.Price.ToString()</b></p>
                }
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="OnOkClickDetails">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public string Symbol { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnOkClickDetails { get; set; }

    string intervalName = string.Empty;
    IList<UIStock> prices = new List<UIStock>();
    HourInterval hourInterval;
    DayInterval dayInterval;
    StockHistory stockHistory;

    protected override void OnInitialized()
    {
        Symbol = "CCC";

        hourInterval = new HourInterval();
        hourInterval.SetContext(StockAdapter);
        dayInterval = new DayInterval();
        dayInterval.SetContext(StockAdapter);

        DailyPrices();
    }

    private void ShowPrices(string interval)
    {
        switch (interval)
        {
            case "daily":
                DailyPrices();
                break;

            case "hourly":
                HourlyPrices();
                break;
        }
    }

    private void HourlyPrices()
    {
        intervalName = "Hourly interval";
        StockHistoryContext.SetStockHistoryContext(hourInterval);
        stockHistory = StockHistoryContext.GetStockHistory(Symbol);

        foreach (var stock in stockHistory.Prices)
        {
            prices.Clear();
            prices.Add(new UIStock(DateTime.Now, stock));
            prices.Add(new UIStock(DateTime.Now.AddHours(-1), stock));
            prices.Add(new UIStock(DateTime.Now.AddHours(-2), stock));
        }
    }

    private void DailyPrices()
    {
        intervalName = "Daily interval";
        StockHistoryContext.SetStockHistoryContext(dayInterval);
        stockHistory = StockHistoryContext.GetStockHistory(Symbol);

        foreach (var stock in stockHistory.Prices)
        {
            prices.Clear();
            prices.Add(new UIStock(DateTime.Now, stock));
            prices.Add(new UIStock(DateTime.Now.AddDays(-1), stock));
            prices.Add(new UIStock(DateTime.Now.AddDays(-2), stock));
        }
    }
}
